/*
 * Corps
 */ 

@font-face 
{
    font-family: "Parisine";
    src: url("FONTS/Parisine-Regular.otf");
    font-weight: normal;
}

@font-face 
{
    font-family: "Parisine";
    src: url("FONTS/Parisine-Bold.otf");
    font-weight: 700;
}

body
{
    background-color: #FFFDEE;
    font-family: Parisine, sans-serif;
    min-height: 1350px;
}

#route
{
    display: none;
}

#mapContainer
{
    width: 100%;
    margin: 0;
}

#mainMap
{
    width: 1350px;
    height: 1350px;
    margin-left: calc((100% - 1350px) / 2);
}



/*
 * Lines
 */ 

.line
{
    stroke-width:3;
    stroke-linecap: round;
}

.line.selected,
.line.selectedPath,
.line.selectedRoute
{
    stroke-width:18;
}





/*
 * Stations
 */ 

.station
{
}

.station.terminus
{
    fill:#000;
}

.station.intersec
{
    fill:#000;
}

.station.multimodal
{
    fill:#4A4A49;
}


.stationOutline
{
    fill-opacity: 0.1;
    stroke-width:2;
    
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.station:hover + .stationOutline,
.stationOutline:hover
{
    stroke-width:3;
    
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    
    cursor: pointer;
}

.stationLabel
{
    width: 200px;
    margin-top: -5px;
    color: #2E2D2C;
    font-size: 8pt;
    line-height: 10pt;
    pointer-events: none;
}

.stationLabel.bottom.intersec,
.stationLabel.bottom.terminus
{
    padding-top:10px;
}


.stationLabel.terminus .libelle
{
}

.stationLabel span,
.stationLabel img
{
    display: inline-block;
    vertical-align: middle;
}

.stationLabel .lineDot
{
    width: 17px;
    height: 17px;
    margin-right: 5px;
    color: #FFF;
    
    border-radius: 15px;
    line-height: 14pt;
    text-align: center;
}

.stationLabel.start
{
    text-align: left;
    margin-left: 200px;
}

.stationLabel.middle
{
    text-align: center;
    margin-left: 100px;
}

.stationLabel.end
{
    text-align: right;
}

.stationLabel.intersec .libelle,
.stationLabel.terminus .libelle
{
    display: inline-block;
    padding: 3px 5px;
    
    font-size: 10pt;
    font-weight: bold;
}
.lineDot
{
    border-radius: 50%;
}

.stationLabel .icon img
{
    max-height: 9pt;
}

.stationLabel .specLine
{
    height: 11px;
    width: 2px;
    border-radius: 10px;
    margin-left: 3px
}

.stationLabel.intersec .icon img,
.stationLabel.terminus .icon img
{
    max-height: 12pt;
}

.stationLabel.intersec .specLine,
.stationLabel.terminus .specLine
{
    height: 14px;
}

.stationLabel.details
{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    
    font-size: 10pt;
}

.walkingTimeBloc
{
    padding-top: 12px;
}

.walkingTime
{    
    width: 100px;
    
    color: #000;
    text-align: center;
}

.walkingTime .icon img
{    
    height: 20px;
}